.git
.gitignore
.github

**/__pycache__
**/*.pyc
**/*.pyo
*.egg-info

.venv
venv
env

.env
.env.*
!.env.example

*.sqlite3
db.sqlite3

staticfiles/
mediafiles/

.pytest_cache
.coverage
htmlcov/

.vscode
.idea
*.swp

node_modules

docs/
docker/postgres/data
