# Core
Django
djangorestframework
djangorestframework-simplejwt

# Database
psycopg2-binary

# Cache / Broker
redis
celery
django-celery-beat

# Realtime
channels
channels-redis
daphne

# Storage
boto3
django-storages

# HTTP Clients
requests
httpx

# Telegram Bot
aiogram

# Utils
Pillow
python-decouple
phonenumbers
django-cors-headers
django-filter
python-dotenv
python-crontab
python-docx
docxtpl
docx2pdf
qrcode
ujson

# Monitoring
sentry-sdk

# Testing
pytest
pytest-django
factory-boy

# Async
aiofiles
aiohttp

# Data Processing
numpy
pandas

# AWS
botocore
s3transfer